.download-section {
    padding: 155px 0;
}
.download-inner {
    background-image: url(/download-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 156px 77px;
}
.download-content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: baseline;
}
.download-content h2 {
    font-weight: 700;
}
.download-content .button {
    background: #fff;
    color: #000;
    padding: 14px 22px;
}
.download-content .button i {
    padding-left: 12px;
    font-size: 24px;
}
.download-content .button:hover {
    border: 2px solid #fff;
    transform: scale(1.1);
}