.faq-section .section-header {
    max-width: 500px;
    margin-bottom: 40px;
}
.faq-item {
    background: #FF5555;
    padding: 30px;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 20px;
}
.faq-item.no-bg {
    background: transparent;
    color: #000;
}
.faq-item h4 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
}
