.header {
    padding: 20px 0;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.navbar-brand {
    margin-right: 40px;
}
.nav-link {
    font-size: 20px;
    margin-right: 24px;
    font-weight: 500;
    color: #000;
}
.nav-link:hover {
    color: #FF5555;
}
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show {
    font-weight: 700;
    color: #FF5555;
}

  